*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    background: #F6F6FB;
}

.card_bg{
    background-color: #fff;
    padding: 20px 30px 30px 30px;
}

.flex{
    display: flex;
    justify-content: space-between;
}